{{ define "main"}}
<section class="section">
    <div class="container max-800px">
        <h1 class="title is-3 is-center">
           404: We couldn't find your page! 
        </h1>
        <div>
            <h1 id="title is-3"><a href="{{ "/" | relURL }}">Go Home</a></h1>
        </div>
        <div class="content">
            <div class="image">
                <a href="{{ "/" | relURL }}">
                    <img src="/images/404.png" alt="alternative site log, lighthouse with beams">
                </a>
            </div>
        </div>
    </div>
</section>
{{ end }}