{{ define "main" }}
<div class="hero is-primary is-bold">
    <div class="hero-body">
        <h1 class="title is-2">
            {{ .Title }}
        </h1>
    </div>
</div>
<div class="container has-background-white">
    <section class="section">
        <div class="columns">
            <div class="column">
                <div class="content">
                    {{ .Content }}
                </div>
            </div>
            <div class="column is-one-third">
                <div class="card">
                    <div class="image" style="max-width: 400px;margin: 0 auto">
                        <figure class="image">
                            <img src="{{ .Params.heroimage }}" alt="" style="padding: 2em;" class="is-rounded fit-cover">
                        </figure>
                    </div>
                    <div class="card-content has-text-centered">
                        <p class="title is-4">{{ .Site.Params.Author }}</p>
                        <p class="autho">{{ .Site.Params.AuthorDescription }}</p>
                    </div>
                    <footer class="card-footer">
                        <p class="card-footer-item">
                        {{ range .Site.Menus.social }}
                            <a href="{{ .URL }}" class="icon is-medium" title="{{ .Name }}"><span class="icon">{{ .Pre }}</span></a>
                        {{ end }}
                        </p>
                    </footer>
                </div>
            </div>
        </div>
    </section>
</div>
{{ end }}
