{{ define "main" }}
<div class="hero is-primary is-bold">
    <div class="hero-body">
        <h1 class="title is-2">
            {{ .Title }}
        </h1>
    </div>
</div>
<section class="section">
    <article>
        <div class="columns is-centered ">
            <div class="column is-half is-centered">
                <div class="title subtitle heading is-6">
                    <div class="columns is-vcentered">
                        <div class="column">
                            <div class="columns is-vcentered is-mobile">
                                <div class="column is-narrow">
                                    {{ $picture := resources.Get .Site.Params.authorImage }}
                                    <img src="{{ $picture.Permalink }}" width="$picture.Width" height="$picture.Height" class="author-image" alt="picture of the author">
                                </div>
                                <div class="column">
                                    <a href="{{ .Params.authorLink }}"><p>{{ .Params.author }}</p></a>
                                    <p><time>{{ .PublishDate.Format "January 2, 2006" }}</time> |
                                        {{ .ReadingTime }} {{ if eq .ReadingTime 1 }} minute {{ else }} minutes
                                        {{ end }}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            {{ range $idx, $category := .Params.categories }}
                            {{- if ne $idx 0 }}, {{ end }}<a
                                href="{{ "categories/" | relURL }}{{ $category | urlize }}">{{ $category }}</a>
                            {{- end }}
                        </div>
                    </div>
                </div>
                <figure class="title-image is-flex is-justify-content-center">
                    {{ $localImage := .Page.Resources.GetMatch .Params.featuredImage }}
                    {{ partial "widgets/image.html" (dict "image" $localImage "large" "776" "small" "422" "alt" .Params.featuredImageAlt) . }}
                </figure>
                <div class="content">
                    <button class="button is-hidden-desktop" id="toggle-menu">Toggle Menu</button>
                    {{ .Content }}
                </div>
            </div>
            {{ if and (gt .WordCount 400 ) (.Params.toc) }}
            <div class="column is-3">{{ partial "widgets/toc.html" . }}</div>
            {{ end }}
        </div>
    </article>
</section>
<section class="section">
    <div class="columns is-centered">
        <div class="column max-800px">
            <div class="columns is-mobile">
                <div class="column has-text-left">
                    {{ with .PrevInSection }}
                    <p>Previous post</p>
                    <a href="{{ .Permalink }}">{{ .Title }}</a>
                    {{ end }}
                </div>
                <div class="column has-text-right">
                    {{ with .NextInSection }}
                    <p>Next post</p>
                    <a href="{{ .Permalink }}">{{ .Title }}</a>
                    {{ end }}
                </div>
            </div>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="section has-text-centered">
    </div>
</div>
<section class="section">
    <div class="columns is-centered">
        <div class="column max-800px">
            <div class="content">
                <h2>Related content</h2>
            </div>
            <div class="columns">
                {{ $related := (where (.Site.RegularPages.Related .) "Type" "blog") | first 3 }}
                {{ range $related }}
                <div class="column is-one-third">
                    {{ partial "widgets/post-card-small.html" . }}
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</section>
{{ end }}