{{ $permalink := .Permalink }}
<div class="card">
    <div class="card-image">
        <figure class="image is-3by1">
            <a href="{{ $permalink }}">
                <img 
                {{ with .Resources }}
                    {{ with .GetMatch "{*.jpg,*.png,*.jpeg}" }}
                        {{ printf "resource: %s " . }}
                        {{ $photo := .Resize "348x116 webp photo"}}
                        {{ with $photo }}
                        src='{{ .Permalink }}'
                        {{ end }}
                    {{ end }}
                {{ end }}
                alt="{{ .Params.featuredImageAlt }}" /></a>
        </figure>
    </div>
    <div class="card-content">
        <a class="title is-4" href="{{ .Permalink }}">{{ .Title }}</a>
        <span class="heading"><a href="{{ .Params.authorLink }}">{{ .Params.author }}</a> | <time>{{ .PublishDate.Format "January 2, 2006"}}</time></span>
        <div class="content">
            {{ .Summary }}
        </div>
        <div class="tags is-pulled-right skew">
            {{ range .Params.categories }}
            <a class="tag is-primary has-text-black is-radiusless" href="/categories/{{ . | urlize}}">{{ . }}</a>
            {{ end }}
        </div>
    </div>
</div>