body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

.logo h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.5em;
}
#TableOfContents {
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    top: 20px; /* Adjust this value as needed */
    max-height: calc(100vh - 40px); /* Adjust this value as needed */
    overflow-y: auto;
}

.author-image {
    object-fit: cover;
    border-radius: 50%;
    width: 48px;
    height: 48px;
}

.about-card card-image {
    max-width: 400px;
    margin: 0 auto;
}

.eac-logo {
    max-height: 2.5rem; 
    min-height: 2rem;
}

.about-image {
    padding: 2em;
    object-fit: "fit-cover";
    border-radius: 50%;
}

.title-image {
    padding-bottom: 2em;
}

.narrow-background {
    display: table;
    padding: 0.1em;
}

.map-responsive {
    overflow: hidden;
    padding-bottom: 100%;
    position: relative;
    height: 0;
}

.map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.columns.is-multiline {
    display: flex;
    flex-wrap: wrap;
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}
.card-content {
    flex-grow: 1;
}
.card-footer {
    justify-content: center;
}

#BlogListMultiLine {
    display: flex;
}

#BlogListHlaf {
    display: flex;
}

#BlogListFull {
    display: flex;
}