ErrorDocument 404 https://everything-as-code.com/404.html

Header set Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
Header always set X-Frame-Options "DENY"
Header set X-Content-Type-Options nosniff
Header add Content-Security-Policy "default-src 'self' *.cloudflare.com; img-src *; script-src 'self' *.cloudflare.com; child-src https://*.youtube.com; frame-src https://*.youtube.com"
Header set X-XSS-Protection "1; mode=block"

# images cached for 1 month
<filesMatch ".(ico|jpg|jpeg|png|gif)$">
 Header set Cache-Control "max-age=2592000, public"
</filesMatch>

# scripts cached for 1 week
<filesMatch ".(css|js)$">
 Header set Cache-Control "max-age=604800, public"
</filesMatch>