<header>
    <nav class="navbar" role="navigation">
        <div class="container">
            <div class="navbar-brand">
                <a href="/" title="home" class="navbar-item">
                    {{ $logo := resources.Get "images/logo-wide.svg" | resources.Minify }}
                    <img src="{{ $logo.Permalink }}" width="200" height="32" alt="Everything as Code" class="eac-logo"
                        alt="Everything as Code">
                </a>
                {{ range .Site.Menus.social }}
                <a href="{{ .URL }}" class="navbar-item is-hidden-desktop" title="{{ .Name }}"><span class="icon">{{
                        .Pre }}</span></a>
                {{ end }}
                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <div class="navbar-menu" id="navMenu">
                <div class="navbar-start">
                    {{ range .Site.Menus.main }}
                    <a href="{{ .URL }}" class="navbar-item">{{ .Name }}</a>
                    {{ end }}
                </div>
                <div class="navbar-end">
                    <div class="navbar-item">
                        <button id="dark-mode-toggle" class="button is-white">
                            <span class="icon">
                                <i id="theme-icon" class="fas fa-sun"></i>
                            </span>
                        </button>
                    </div>
                    {{ range .Site.Menus.social }}
                    <a href="{{ .URL }}" class="navbar-item is-hidden-touch" title="{{ .Name }}"><span class="icon">{{
                            .Pre }}</span></a>
                    {{ end }}
                </div>
            </div>
        </div>
    </nav>
</header>