{{ $count := .Get "count" | default 6 }}
{{ $pages := where .Site.RegularPages "Type" "in" site.Params.mainSections }}

<section class="section">
    <div class="container">
        <h2 class="title has-text-centered">Blog</h2>
        <div class="columns is-multiline">
            {{ range first $count $pages }}
            <div class="column is-one-third" style="display: flex;">
                <div class="column is-full" style="display: flex;">
                    {{ partial "widgets/post-card.html" . }}
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>